@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'STIX Two Text';
  src: url('/fonts/STIXTwoText-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for WebKit-based browsers */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer 10+ and Edge */
html, body {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar manually */
.hide-scrollbar::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  display: none;
}


.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner[type="number"] {
    -moz-appearance: textfield;
}

.custom-scrollbar {
  /* For Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Color of the scrollbar thumb on hover */
  }

  /* For Firefox */
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #007bff transparent; /* Thumb color and track color */
}
